/*  config extra (heradeer */

*{
  padding: 0px;
  margin: 0px;
}

body{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-position: center;
  color:#ffffff;
  text-align: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  background-size: cover;
  background-image: url(/imagens/fundosvg.jpg);
  
}

header{
background-color: #4e27a88a;
max-height: 130px;
}
header>h1{
font-size: 25px;
padding-top: 20px;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
color: white;
margin: auto;
text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}
header>p{
margin: 0px;
padding-bottom: 15px;
text-align: center;
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

nav{
background-color: #8251f57a;
padding: 10px;

}

nav>a{
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
text-decoration: none;
padding: 10px;
}

nav>a:hover{
background-color: #4e27a8;
color: yellow;
}



.reistech img{
max-width: 100px;
}

a {text-decoration: none;}



footer{
background-color: #000000c5;

}


.marcascell{
    background-color: #1f2daa63;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    margin: auto;
    display: inline-block;   
    margin: 15px;
    backdrop-filter: blur(5px);
    color: white;
    box-shadow: 5px 1px 10px rgba(0, 0, 0, 0.308);
    
  }
  .marcascell img {
    padding-top: 15px;
    width: 40%;
    height: 50%;
    
  }
  .marcascell h2 {
    font-size: 15px;
  }
  .marcascell:hover{
    background-color: rgba(20, 6, 143, 0.671);
  }

  main{
    width: 90%;
    margin: auto;
  }
  
