
*{
    padding: 0px;
    margin: 0px;
}

/*  config extra (heradeer */


body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-position: center;
    color:#ffffff;
    text-align: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    align-items: center;
    background-image: url(/imagens/fundosvg.jpg);
    background-size: cover;
    
}

header{
  background-color: #4e27a8a8;
  max-height: 130px;
}
header>h1{
  font-size: 25px;
  padding-top: 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  margin: auto;
  text-shadow: 0 0 0.05em #fff, 0 0 0.2em #fe05e1, 0 0 0.3em #fe05e1;
}
header>p{
  margin: 0px;
  padding-bottom: 15px;
  text-align: center;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

nav{
  background-color: #8251f57a;
  padding: 10px;

}

nav>a{
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-decoration: none;
  padding: 10px;
}

nav>a:hover{
  background-color: #4e27a8;
  color: yellow;
}



.reistech img{
  max-width: 100px;
}

a {text-decoration: none;}



footer{
background-color: #000000c5;

}



